@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal selector */
.d-flex{
    display: flex;
}

body{
    font-family: "Open Sans", serif;
}

.margin-x{
    margin: 0 8.75rem 0 8.75rem;
}


/* nav section */
.navbar{
    justify-content: space-between;
    margin-top: 20px;
}
.left-school{
    align-items: center;
    gap: 0.6rem;
}
.middle-home{
    
    
}
.items{
    list-style: none;
    gap: 2rem;
    margin-top: 20px;
   
    
}
.item-1{
   color: orange;
}
.item-2{
   color: skyblue;
}
.item-3{
   color: #05D4DF;
}
.item-4{
   color: #5D58EF;
}                     
.right-btn>span{
    display: none;
    
}
.btn-1{
   color: white;
   background-color: rgb(254, 163, 1);
   padding: 1rem 3.75rem 1rem 3.75rem;
   border: none;
   border-radius: 12px;
}


/* hero section  */
.hero{
    justify-content: space-between;
}

.left-hero{
    margin: 7.6rem 0 7.6rem 0;
}
.left-hero h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.orange{
    color: orange;
}
.blue{
    color: skyblue;
}

.left-hero p{
    margin: 24px 0 24px 0;
}
.btn-black{
   color: white;
   background-color: rgb(17, 17, 17);
   padding: 1rem 3.75rem 1rem 3.75rem;
   border: none;
   border-radius: 12px;
}

/* marquee section  */
.marquee{
    background-color: rgb(194, 247, 230);
}






















/* nave section  */
@media screen and (max-width: 576px) {
    .margin-x{
        margin: 0 3rem 0 3rem;
    }
}
@media screen and (max-width: 992px) {
    .right-btn>span{
        display: block;
        margin-top: 20px;
    }
    .btn-1{
        display: none;
    }
    .left-school>h2{
        display: none;
    }
    .middle-home{
        display: none;
    }
    .vr{
        border: 1px solid orange;
        margin-top: 12px;
    }
}


/* hero section  */
@media screen and (max-width: 992px) {
    .hero{
        flex-direction: column-reverse;
    }
    .left-hero{
        text-align: center;
        margin: 2rem 0 2rem 0;
    }
    .left-hero h1{
        font-size: 2.5rem;
    }
}