@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal selector */
.d-flex{
    display: flex;
}

body{
    font-family: "Open Sans", serif;
}

.margin-x{
    margin: 0 8.75rem 0 8.75rem;
}


/* nav section */
.navbar{
    justify-content: space-between;
    margin-top: 20px;
}
.left-school{
    align-items: center;
    gap: 0.6rem;
}
.items{
    list-style: none;
    gap: 2rem;
    margin-top: 20px;
   
    
}
.item-1{
   color: orange;
}
.item-2{
   color: skyblue;
}
.item-3{
   color: #05D4DF;
}
.item-4{
   color: #5D58EF;
}                     
.right-btn>span{
    display: none;
    
}
.btn-1{
   color: white;
   background-color: rgb(254, 163, 1);
   padding: 1rem 3.75rem 1rem 3.75rem;
   border: none;
   border-radius: 12px;
}


/* hero section  */
.hero{
    justify-content: space-between;
}

.left-hero{
    margin: 7.6rem 0 7.6rem 0;
}
.left-hero h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.orange{
    color: orange;
}
.blue{
    color: skyblue;
}

.left-hero p{
    margin: 24px 0 24px 0;
}
.btn-black{
   color: white;
   background-color: rgb(17, 17, 17);
   padding: 1rem 3.75rem 1rem 3.75rem;
   border: none;
   border-radius: 12px;
}

/* marquee section  */
.marquee{
    background-color: rgb(194, 247, 230);
    padding: 10px 0 10px 0;
}


/* Standard Curriculum section */
.standard-curriculam{
    background-image: url(../assets/bg.png);
}
.standard-curriculam h1{
    text-align: center;
    margin: 60px 0 80px 0;
}
.cards{
    justify-content: space-between;
    gap: 28.3px;
    margin-bottom: 80px;
}
.kinder{
    text-align: center;
    padding: 52px 40px;
    border-radius: 19px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom,  rgb(222, 245, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.kinder h3{
    margin: 32px 0 33px 0;
}
.kinder span{
    font-size: 15px;
    font-weight: 500;
}
.kinder p{
    color: #64C8FF;
    margin-top: 34px;
}
.elementary{
    text-align: center;
    padding: 52px 40px;
    border-radius: 19px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom,  rgb(255, 244, 220), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.elementary h3{
    margin: 32px 0 33px 0;
}
.elementary span{
    font-size: 15px;
    font-weight: 500;
}
.elementary p{
    color: #F0AA00;
    margin-top: 34px;
}
.middle{
    text-align: center;
    padding: 52px 40px;
    border-radius: 19px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom,  rgb(238, 225, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.middle h3{
    margin: 32px 0 33px 0;
}
.middle span{
    font-size: 15px;
    font-weight: 500;
}
.middle p{
    color: #8700FF;
    margin-top: 34px;
}
.btn-carcle{
    border-radius: 50%;
    background-color: orange;
    padding: 10px;
    border: none;
    margin-right: 10px;
    color: white;
    
}
.center{
    text-align: center;
    
}


/* our stories section */
.our-stories{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(254, 163, 1, 0.3)), url(../assets/bg.png);
    
}
.our-stories h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
.img-gallery{
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 19px;
    margin: 0 8.75rem 0 8.75rem;

}
.img-gallery img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.img-1{
    border-radius: 16px ;
    background-color: white;
}
.btn-2{
    background-color: rgb(60, 216, 232);
    color: white;
    padding: 0.6rem;
    border-radius: 48px;
    border: none;
    font-size: 1rem;
    position: relative;
    left: 2.4rem;
    bottom: 1.5rem;
}
.img-1 h3{
    padding: 33px 38px 0 38px;
}
.img-1 p{
    padding: 47px 68px 0px 38px;
}
.img-all{
    border-radius: 16px ;
    background-color: white;
}
.btn-3{
    background-color: rgb(149, 178, 38);
    font-size: 0.8rem;
}
.btn-4{
    background-color: rgb(93, 88, 240);
    font-size: 0.8rem;
}
.h3-all{
    padding: 19px 28px 29px 38px;
    margin-bottom: 19px;
}
.t-center{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 60px;
}


/* footer section */
.footer-section{
    background-color: #01ACFD;
    padding: 123px 228px 174px 140px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.align{
    align-items: center;
    color: white;
    margin-bottom: 35px;
}
.left-kids p{
    color: white;
    margin-bottom: 32px;
}

.middle-about h4{
    color: white;
    margin-bottom: 32px;
}
.items p{
    color: white;
    margin-top: 17px;
}
.right-keep h4{
    color: white;
    margin-bottom: 32px;
}
.img-logo{
    gap: 10px;
}




/* Responsive part  */


/* nave section  */
@media screen and (max-width: 576px) {
    .margin-x{
        margin: 0 2rem 0 2rem;
    }
}
@media screen and (max-width: 992px) {
    .right-btn>span{
        display: block;
        margin-top: 20px;
    }
    .btn-1{
        display: none;
    }
    .left-school>h2{
        display: none;
    }
    .middle-home{
        display: none;
    }
    .vr{
        border: 1px solid orange;
        margin-top: 12px;
    }
}


/* hero section  */
@media screen and (max-width: 992px) {
    .hero{
        flex-direction: column-reverse;
    }
    .left-hero{
        text-align: center;
        margin: 2rem 0 2rem 0;
    }
    .left-hero h1{
        font-size: 2.5rem;
    }
}


/* Standard Curriculum section */
@media screen and (max-width: 992px) {
    .cards{
        flex-direction: column;
    }
    .center{
        display: none;
    }
}


/* our stories section */
@media screen and (max-width: 576px) {
    .img-gallery{
        margin: 0 1rem 0 1rem;
    }
    .h3-all{
        padding: 19px 0px 29px 10px;
        margin-bottom: 19px;
    }
    .btn-3 .btn-4 {
        font-size: 0.5rem;
        left: 1rem;
    }
    .btn-2{
        left: 0.5rem;
    }
}
@media screen and (max-width: 992px) {
    .img-1{
        display: none;
    }
    .img-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}


/* footer section */
@media screen and (max-width: 768px) {
    .footer-section{
        padding: 123px 28px 174px 30px;
    }
}
@media screen and (max-width: 992px) {
    .footer{
        flex-direction: column;
    }
    .right-keep h4{
        margin-top: 31px;
    }
}
